{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Home/page.html.twig'%}
    <h1>Hello Wilder !</h1>
    <p>test</p>
{% for movies in content.movies %}
    {{ movies.title }}
{% endfor %}


{% endblock %}

