{% block content %}

<div class="wrap">
    <div class="pages">
        <div class="page leftpage">
            <img class="summaryPicture" src="/assets/images/sum_page.jpg">
        </div>
        <div class="page rightpage">

            <h1 class="titleSummary" >Summary</h1>

            <a class="lien" href="/movie/search/Scream_4/1">Scream 4</a>
            <a class="lien" href="/movie/search/Evil_Dead/2">Evil Dead</a>
            <a class="lien" href="/movie/search/A_Nightmare_on_Elm_Street/3">A Nightmare on Elm Street</a>
            <a class="lien" href="/movie/search/Saw_6/4">Saw 6</a>
            <a class="lien" href="/movie/search/Nosferatu/5">Nosferatu</a>
            <a class="lien" href="/movie/search/The_Blair_Witch_Project/6">Le Projet Blair-Witch</a>
            <a class="lien" href="/movie/search/Insidious_Chapter_2/7">Insidious</a>
            <a class="lien" href="/movie/search/The_Thing/8">The Thing</a>
            <a class="lien" href="/movie/search/[REC]_2/9">REC 2</a>
            <a class="lien" href="/movie/search/Final_Destination_4/10">Destination Final</a>

        </div>
    </div>
</div>
{% endblock %}