
@import "style_master.css";

@font-face {
    font-family: "Who asks Satan";
    src: url("/assets/font/whoaskssatan.ttf");
    font-weight: normal;
    font-style: normal;
}

.film_name{
    font-family: "Who asks Satan";
}

.pages {
    display: flex;
    width: 70%;
    flex-basis : 65%;
    margin: 4em auto;
    background-image: url('../images/bookcover.jpg');
    padding: 5px 15px 5px 15px;
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
    box-shadow: 5px 5px 5px black;
}

.page {
    height: 85vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background-image: url('../images/parchemin.jpg');
    background-size: cover;
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
    box-shadow: -.4em 0 .4em black;
    display: flex;
    flex-direction: column;
}

.rightpage {
    background-image: url('../images/parchemin.jpg');
    background-size: cover;
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    box-shadow: -.4em 0 .4em black, .4em 0 .4em black;
    display: flex;
    flex-direction: column;
}

.resize_img {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.film_name {
    text-align: center;
    border: 1px solid;
    margin-bottom: 30px;
    margin-top: 20px;
}

.imageFilm{
    height: 90%;
    width: 50%;
    margin-right: 20px;
}

.filmInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filmDescription{
    display: flex;
    flex-direction: column;
}

.linkSummary{
    margin-top:3%;
    font-family: "Who asks Satan";
    font-size: 3vh;
    text-decoration: none;
    color: black;
    width:25%;
}

.linkSummary:hover{
    color:red;
}

.fa-arrow-left{
    font-size: 2vh;
}