{% extends 'layout.html.twig' %}
{% block content %}
    <div class="wrap">
        <div class="pages">
            <div class="page leftpage">
                    <h2 class="film_name">Sylvain</h2>
                    <div class="filmInfo">
                        <div class="filmDescription">
                            <h2 class="Sylvain">Créature de type démon de la nuit.</h2>
                            <h2 class="Sylvain">Se nourrit exclusivement de JAVA.</h2>
                            <h2 class="Sylvain">Point faible : Daily en anglais.</h2>
                        </div>
                    </div>
                <h2 class="film_name"></h2>
                <p class="police"></p>
                <a class="linkSummary" href="/Summary/index"><i class="fas fa-arrow-left"></i> Sommaire</a>
            </div>
            <div class="page rightpage">
                <img class ="resize_img" src="/assets/images/monster/sylvain.jpg" >
            </div>
        </div>
    </div>
{% endblock %}
